<!-- event-list.html -->


<div class="container-fluid">

  <div class="search">
    <input id="search" type="text" ng-model="query" />
    <select ng-model="orderProp">
      <option value="date">Date</option>
      <option value="name">Name</option>
      <option value="categories[0].name">Category</option>
      <option value="sub_category">Sub-category</option>
    </select>
  </div>

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Sub-category</th>
        <th>Link</th>
        <th>Description</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
      <tr ng-repeat="event in events | filter: query | orderBy:orderProp" data-id={{event.id}}>
        <td><a href="/events/{{event.id}}">{{event.name}}</a></td>
        <td>{{event.categories[0].name}}</td>
        <td>{{event.sub_category}}</td>
        <td><a href="{{event.url}}">URL</a></td>
        <td>{{event.description}}</td>
        <td>{{event.status}}</td>
        <td>{{event.date | date: 'longDate'}}</td>
        <td>
          <form>
            <button type="submit" ng-click="deleteEvent(event.id)">Delete</button>
          </form>
        </td>
<!--    <td><a href="#/pickups/{{pickup.id}}"><button class="confirm-pickup-btn" hidden>Confirm Pickup</button></a></td>
 -->  </tr>

    </table>

</div>