<div class="field">
  <%= f.fields_for :categories, @event.categories.build do |cat_form| %> 
    <%= cat_form.collection_select(:name, Category.all, :name, :name) %>
    <%= cat_form.link_to_remove "Remove this category" %>
  <% end %>
  <%= f.link_to_add "Add another category", :categories %>
</div>