<div class="container">
  <div class="page-header">
    <h1>Want Even More Info? Contact Us.</h1>
  </div>
  <p class="lead"></p>
  <p>BetaNYC is led by Noel Hidalgo (<a href="mailto:noel@betaNYC.us">noel@betaNYC.us</a> or <a href="https://twitter.com/noneck">@noneck</a>) and Chris Whong (<a href="mailto:cwhong@codeforamerica">cwhong@codeforamerica.org</a> or <a href="https://twitter.com/chris_whong">@chis_whong</a>) and we want to hear from you!</p>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted"><a href="/">home</a></p>
  </div>
</div>