<!-- Main component for a primary marketing message or call to action -->
<div class="container">
  <div class="jumbotron">
    <h1>NYC Open Government Timeline</h1>
    <p>An interactive timeline of open civic technology events in New York City.
</p>
    <p>
      BetaNYC is building a connected NYC by the people, for the people, for 21st Century. We are NYC’s civic technology and open government vanguard. We are an organizing force for local civic engagement - a network of civic - minded volunteers who contribute their skills toward government and community service.
    </p>
    <p>
      <a class="btn btn-lg btn-primary" href="http://betanyc.us/" role="button">Go to BetaNYC</a>
    </p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Press</h2>
      <p class="text-danger">NYC Geek Squad stays on mission to liberate data</p>
      <p>Written for GCN by Rutrell Yasin, this article disucsses recent efforts by the city, including the Mayor’s Office of Data Analytics, to make government data available for the public.</p>
      <p><a class="btn btn-primary" href="http://gcn.com/Articles/2014/02/19/New-York-City-geek-squad.aspx?s=gcntech_200214&Page=1" role="button">View details</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Benefits of Open Data</h2>
      <p class="text-danger">Why Publish Open Data?</p>
      <p>Author Mark Headd emphasizes the importance of releasing data with three points: 1) it reduces the amount of time and effort for responding to open record and FOIA requests, 2) it leads to new and valuable apps, and 3) it creates the opportunity for cross-department data sharing.</p>
      <p><a class="btn btn-primary" href="http://civic.io/2013/06/22/why-publish-open-data/" role="button">Read full post</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Open Data in the UK</h2>
      <p class="text-danger">Why is an open data policy so important?</p>
      <p>Written for ITPRO, Clare Hopping offers valuable insight into why open data is important.</p>
      <p><a class="btn btn-primary" href="http://www.itpro.co.uk/strategy/21260/why-is-an-open-data-policy-so-important" role="button">Read more</a></p>
    </div>

  </div>
</div>