<html>
  <head>
    <title>Swimlane using d3.js</title>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  
    <style>

    .chart {
      shape-rendering: crispEdges;
    }

    .laneBackground rect {
      fill: hotpink;
    }

    .mini text {
      font: 9px sans-serif; 
    }


    .main text {
      font: 12px sans-serif;  
    }


    .month text {
      text-anchor: start;
    }


    .todayLine {
      stroke: blue;
      stroke-width: 1.5;
    }


    .axis line, .axis path {
      stroke: black;
    }


    .miniItem {
      stroke-width: 6;  
    }


    .item {
      stroke: "gray";
      fill: hotpink;

    }


    .brush .extent {
      stroke: gray;
      fill: yellow;
      fill-opacity: .165;
    }
    </style>
  </head>
  <body>
    <%= javascript_include_tag :timeline %>
  </body>
</html>



