<h1>Listing comments</h1>

<table>
  <tr>
    <th>Name of Event</th>
    <th>Handle</th>
    <th>Content</th>
  </tr>
  <% @comments.each do |comment| %>
    <tr>
      <td>
        <%= Event.find(comment.event_id).name %>
      </td>
      <td>
        <%= comment.author %>
      </td>
      <td>
        <%= comment.content %>
      </td>
    </tr>
  <% end %>
</table>