<div class="container">
  <div class="page-header">
    <h1>Want to know more about BetaNYC and this site?</h1>
  </div>
  <p class="lead"></p>
  <p>
    BetaNYC is NYC’s civic technology and open government vanguard. We are an organizing force for local civic engagement - a network of civic - minded volunteers who contribute their skills toward government and community service.
  </p>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted"><a href="http://betanyc.us/">Go to BetaNYC</a></p>
  </div>
</div>