<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <p class="lead"></p>
  <p> 
    This timeline is a collection of events that have help make NYC one fo the most open and connected cities on this planet. Initial research was compiled by Luis Godoy, as of US State Department’s Professional Fellows Program. Further research has been compiled by Noel Hidalgo and members of BetaNYC. The timeline tool you see and the API that powers it was built by Uzo Agu, Chris Haack, Katie Hoffman, and Oliver Switzer, instructed by Ashley Williams, from the Flatiron School.
  </p>
  <p>
    You can improve or copy this project on <a target="_blank" href="https://github.com/BetaNYC/nyc-open-government-timeline">GitHub</a>.
  </p>
  <p>
    You can add an event via a <a target="_blank" href="https://docs.google.com/a/betanyc.us/forms/d/16SQjfvdVEGo8MWv0vLYDVp31opJ5U54VZbcAERfCoQw/viewform">Google form</a>, subject to moderation.
  </p>
  <p>
    You can learn more about BetaNYC and the constellation of individuals, civic and good government groups at <a target="_blank" href="http://BetaNYC.us">BetaNYC.us</a> and at <a target="_blank" href="http://nyctwg.org">NYC Transparency Working Group</a>.
  </p>
  <p>
    All timeline content is licensed under a CC-by license. Photos or icons are by their respective copyright holders.
  </p>
</div>