<html>
  <head>
    <style>
      .contain-this {
        text-align: center;
        width: 100%;
      }

      .barchart rect {
        fill: steelblue;
      }

      .barchart text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Barchart of Events</h1>
      <div class="contain-this">
        <svg class="barchart"></svg>
        <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
      <div> <!-- contain-this -->
    </div> <!-- container -->
  </body>
</html>
