<html>
  <head>
    <title>d3JS Barchart</title>
  </head>
  <body>
    <div class="container">
      <h1>Barchart of Events</h1>
      <div class="barchart">
        <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      </div>
    </div>
  </body>
</html>
