<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Events</h2>
      <p class="text-danger"></p>
      <p>A table of open data events in from 1974 to present.</p>
      <p><a class="btn btn-primary" href="/events-angular" role="button">View data &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>Categories</h2>
      <p>A list of open data categories.</p>
      <p><a class="btn btn-primary" href="/categories-angular" role="button">View categories &raquo;</a></p>
    </div>
  </div>
</div>